{% include "header.html" %}

<div id="main">

<h2>About the York Union</h2>

<p>The York Union, founded in 2013, is a student-run organisation that aims to host engaging talks, interviews and debates that contribute to the intellectual life of the University of York and the surrounding area. Formerly <a href="http://www.nouse.co.uk">Nouse</a> Events, we are in no way affiliated to the University of York&#8217;s Student Union (YUSU). We aim to bring some of the best and most influential speakers to the North of England, competing with events that would typically be held in the South.</p>

<p>All guests are kind enough to speak for free. However, The York Union covers their travel costs, so donations on the door at our events are always warmly appreciated. This also goes some way to covering the wine reception that is put on after each event where audience members can freely mingle with the guest(s) and one another.</p>

<p>We are grateful to all our donors and to the many members of the university who have helped and facilitated our existence and events.</p>

<p>If you would like to sponsor the York Union, sponsor a single event, or donate, please contact: <span id="email"></span>.</p>

</div>

<script>
document.getElementById('email').innerHTML = '<'+'a'+' '+'h'+'r'+'e'+'f'+'='+"'"+'m'+'&'+'#'+'9'+'7'+';'+'&'+'#'+'1'+'0'+'5'+';'+'l'+'t'+'&'+'#'+'1'+'1'+'1'+';'+'&'+'#'+'5'+'8'+';'+'&'+'#'+'9'+'9'+';'+'&'+'#' + '3'+'7'+';'+'6'+'5'+'e'+'5'+ '%'+'3'+'0'+'%'+'3'+'7'+'%'+'&'+'#'+'5'+'2'+';'+'0'+'y'+'%'+'&'+'#'+'5'+'4'+';'+'F'+'r'+'k'+'&'+'#'+'4'+'6'+';'+'a'+'c'+'&'+'#'+'4'+'6' +';'+'&'+'#'+'1'+'1'+'7'+';'+'%'+'&'+'#'+'5'+'4'+';'+'B'+"'"+'>'+'&'+'#'+'9'+'9'+';'+'e'+'e'+'5'+'0'+'&'+'#'+'5'+'5'+';'+'&'+'#'+'6'+'4'+';'+'&'+'#'+'1'+'2'+'1'+';'+'&'+'#'+'1'+'1'+'1'+ ';' +'&'+'#'+'1'+'1'+'4'+';'+'&'+'#'+'1'+'0'+'7'+';'+'&'+'#'+'4'+'6'+';'+'a'+'c'+'&'+'#'+'4'+'6'+';'+'u'+'k'+'<'+'/'+'a'+'>';
</script>

{% include "footer.html" %}
