<li class="h-event" itemscope itemtype="http://data-vocabulary.org/Event">
    <a href="{{ event.slug }}" itemprop="url">
        <h3 class="p-name" itemprop="summary">{{ event.name }}</h3>
        <p><time class="dt-start" itemprop="startDate" datetime="{{ event.when|date:"c" }}">{{ event.when | date:"l jS F Y" }}</time></p>
        {% if event.location %}
            <span class="p-location" itemprop="location">
                <span itemprop="geo" itemscope itemtype="http://data-vocabulary.org/Geo">
                    <data class="p-longitude" value="{{ event.location.position.longitude }}"><meta itemprop="longitude" content="{{ event.location.position.longitude }}" /></data>   
                    <data class="p-latitude" value="{{ event.location.position.latitude }}"><meta itemprop="latitiude" content="{{ event.location.position.latitude }}" /></data>
                </span>
            </span>
        {% endif %}
    </a>
</li>
