<li itemscope itemtype="http://schema.org/Event">
    <a itemprop="url" href="{{ event.slug }}">
        <h3 itemprop="name">{{ event.name }}</h3>
        <p><time itemprop="startDate" datetime="{{ event.when|date:"c" }}">{{ event.when | date:"l jS F Y" }}</time></p>
        {% if event.location %}
            <span itemprop="location" itemscope itemtype="http://schema.org/Place">
                <meta itemprop="name" content="{{ event.location }}" />
                <span itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates">
                    <meta itemprop="latitude" content="{{ event.location.position.latitude }}" />
                    <meta itemprop="longitude" content="{{ event.location.position.longitude }}" />
                </span>
            </span>
        {% endif %}
    </a>
</li>
