{% load markup %}
{% include "header.html" %}

<div id="main" itemscope itemtype="http://schema.org/Event">

<h2 itemprop="name">{{ event.name }}</h2>

{% if event.image %}<img itemprop="image" src="{{ event.image.url }}" alt="" width="500" height="240" class="event-image" />{% endif %}

<p class="metadata">
    {% if event.when %}
        <time itemprop="startDate" datetime="{{ event.when|date:"c" }}">
            {{ event.when | date:"l jS F Y" }}
            {% if not event.is_finished and event.location %}
                at {{ event.when | date:"H:i" }}
            {% endif %}
        </time>
    {% endif %}

    {% if event.location %}
        <span itemprop="location" itemscope itemtype="http://schema.org/Place">
            {% if not event.is_finished %}
                <span itemprop="name">{{ event.location }}</span>
            {% else %}
                <meta itemprop="name" content="{{ event.location }}" />
            {% endif %}
            <span itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates">
                <meta itemprop="latitude" content="{{ event.location.position.latitude }}" />
                <meta itemprop="longitude" content="{{ event.location.position.longitude }}" />
            </span>
        </span>
    {% endif %}
</p>

{{ event.blurb | textile }}

{% if event.has_multiple_speakers %}

<div class="people">
    <div class="for">
    <h3>For the motion</h3>
    {% for speaker in event.for_the_motion.all %}
        {% include "attendee.html" %}
    {% endfor %}
    </div>
    <div class="against">
    <h3>Against the motion</h3>
    {% for speaker in event.against_the_motion.all %}
        {% include "attendee.html" %}
    {% endfor %}
    </div>
</div>
{% endif %}

{% if event.blurb_secondary %}

    {{ event.blurb_secondary | textile }}

{% endif %}

{% if not event.is_finished and event.eventbrite_event_id and event.location %}

<div id="tickets">

    <iframe src="http://www.eventbrite.com/tickets-external?eid={{ event.eventbrite_event_id }}&amp;ref=etckt&amp;v=2" height="256" width="100%" frameborder="0" scrolling="auto"></iframe>

    <div id="map"></div>

</div>

{% endif %}

</div>

{% include "footer.html" %}
