{% include "header.html" %}

<div id="tumescence">
</div>

<div class="programme">
    {% if future_events_list %}
    <h2>Programme</h2>
    {% for event in future_events_list %}
    <a class="h-event" href="{{ event.slug }}">
        <h3 class="p-name">{{ event.name }}</h3>
        <p><time class="dt-start" datetime="{{ event.when|date:"c" }}">{{ event.when | date:"l jS F Y" }}</time></p>
    {% endfor %}
    {% endif %}
</div>

<div class="past-events">
    {% if past_events_list %}
    <h2>Past events</h2>
    {% for event in past_events_list %}
    <a href="{{ event.slug }}">
        <h3>{{ event.name }}</h3>
    </a>
    {% endfor %}
    {% endif %}
</div>

{% include "footer.html" %}
