{% include "header.html" %}

<div id="tumescence">
    {% if events_for_slider %}
    <ol class="bjqs">
        {% for event in events_for_slider %}
        <li>
            <a href="{{ event.slug }}">
                <img width="1000" height="480" src="{{ event.image.url }}" alt="" />
                <div class="metadata">
                    <h3>{{ event.name }}</h3>
                    <p><time datetime="{{ event.when|date:"c" }}">{{ event.when | date:"l jS F Y" }}</time></p>
                </div>
            </a>
        </li>
        {% endfor %}
    </ol>
    {% endif %}
</div>

<div class="programme">
    {% if future_events_list %}
    <h2>Programme</h2>
    <ol>
        {% for event in future_events_list %}
            {% include "event-list-item.html" %}
        {% endfor %}
    </ol>
    {% endif %}
</div>

<div class="past-events">
    {% if past_events_list %}
    <h2>Past events</h2>
    <ol>
        {% for event in past_events_list %}
            {% include "event-list-item.html" %}
        {% endfor %}
    </ol>
    {% endif %}
</div>

{% include "footer.html" %}
