{% include "header.html" %}

<div id="main">

<h2>York Union in the press</h2>

<ul>
<li><a href="http://www.yorkvision.co.uk/news/students-rush-to-snap-up-alastair-campbell-tickets/25/01/2014">Students rush to snap up Alastair Campbell tickets</a><br />
<cite>York Vision</cite>, 25 January 2013</li>
<li><a href="http://theyorker.co.uk/features/14500-mark-lawson-in-conversation-with">Interview: Mark Lawson in conversation with The Yorker</a><br />
<cite>The Yorker</cite>, 2 December 2013</li>
<li><a href="http://theyorker.co.uk/arts/performing-arts/features-&amp;-interviews/14499-review-york-union-in-conversation">Review: York Union in conversation with&#8230;Mark Lawson</a><br />
<cite>The Yorker</cite>, 2 December 2013</li>
<li><a href="http://theyorker.co.uk/news/campus/14485-in-conversation-with-mark-lawson">Preview: In Conversation with… Mark Lawson</a><br />
<cite>The Yorker</cite>, 27 November 2013</li>
<li><a href="http://www.nouse.co.uk/2013/11/26/qa-with-adam-boulton/">Interview: Q&amp;A with Adam Boulton</a><br />
<cite>Nouse</cite>, 26 November 2013</li>
<li><a href="http://www.theyorker.co.uk/politics/york/14386-jonathan-powell-on-machiavelli-and">Review: Jonathan Powell on Machiavelli and power</a><br />
<cite>The Yorker</cite>, 5 November 2013</li>
<li><a href="http://www.nouse.co.uk/2013/10/23/review-religion-debate-york-union/">Review: Religion Debate, York Union</a><br />
<cite>Nouse</cite>, 23 October 2013</li>
<li><a href="http://www.theguardian.com/commentisfree/belief/2013/oct/17/religions-rational-pale-green-irrelevant-nature-world">To ask whether religions are rational is like asking whether they are pale green</a><br />
Andrew Brown, theguardian.com, 17 October 2013</li>
<li><a href="http://theyorker.co.uk/news/campus/14319-religion-is-irrational-and-has">Preview: &#8216;Religion is irrational and has no place in today&#8217;s society&#8217;</a><br />
<cite>The Yorker</cite>, 14 October 2013</li>
<li><a href="http://www.yorkpress.co.uk/education/news/10729618.Public_lectures_at_University_of_York/">Preview: Public lectures at University of York</a><br />
<cite>The Press</cite>, 10 October 2013</li>
<li><a href="http://www.nouse.co.uk/2013/10/04/students-create-york-union/">Students create York Union</a><br />
<cite>Nouse</cite>, 4 October 2013</li>
</ul>

</div>

{% include "footer.html" %}
