{% include "header.html" %}

<div id="main">

<h2>York Union in the press</h2>

{% if press_cuttings %}
    <ul>
        {% for item in press_cuttings %}
            <li>
                <a href="{{ item.url }}">{{ item.title }}</a>
                <br />
                <cite>{{ item.publication }}</cite>,
                <time datetime="{{ item.when | date:"c" }}">
                    {{ item.when | date:"j F Y" }}
                </time>
            </li>
        {% endfor %}
    </ul>
{% endif %}

</div>

{% include "footer.html" %}
